.navbar {
    background-color: darkcyan;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        max-width: calc(800px + 4rem);
        margin: auto;
    }
    a {
        display: inline-block;
        text-decoration: none;
        padding: 1rem 2rem;
        color: white;
        font-size: 1.2xrem;
        font-weight: bold;

        &:hover {
            background-color: azure;
            color: darkcyan;
        }
    }
}
