.navbar {
    background-color: aqua;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    li {
        background-color: red;
        padding: 1rem 2rem;

        &:hover {
            background-color: wheat;
        }
    }
}
